body{
    text-align: center;
    background-color: #02e69a;
}

input[type="text"], a{
    color: #ffffff;
    transition: color 200ms;
    text-align: center;
}

a:hover{
  color: #e6027f; 
}

h1{
  color: #000000;
}